{% extends "layouts/default.html" %}

{% block main %}
  <h1 class="text-3xl">登入</h1>
  <form method="post" class="flex flex-col gap-2" action="{% url 'users:login' %}">
    {% csrf_token %}

    <fieldset class="fieldset">
      <legend class="fieldset-legend">帳號</legend>
      <input type="text" class="input" name="username" />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">密碼</legend>
      <input type="password" class="input" name="password" />
    </fieldset>

    <div>
      <button class="btn btn-neutral">登入</button>
    </div>
  </form>
{% endblock %}
