{% extends "layouts/default.html" %}

{% block main %}
  <h1 class="text-3xl">公司：{{ interview.company_name }}</h1>

  <div> {{ interview.rating }} / 10 </div>
  <p>
    {{ interview.review }}
  </p>

  <footer class="flex gap-2 my-2">
    <a href="{% url 'interviews:edit' interview.id %}" class="btn btn-sm">編輯</a>

    <form action="{% url 'interviews:delete' interview.id %}"
          method="post"
          onsubmit="return confirm('是否確認刪除？')">
      {% csrf_token %}
      <button class="btn btn-sm btn-error">刪除</button>
    </form>
  </footer>

  <ul class="list">
  {% for comment in comments %}
    <li class="list-row">{{ comment.content }}</li>
  {% endfor %}
  </ul>

  <form method="post" action="{% url 'interviews:comment' interview.id %}">
    {% csrf_token %}
    <div class="flex flex-col gap-2">
      <textarea name="content" class="textarea"></textarea>
      <div>
        <button class="btn btn-sm">新增留言</button>
      </div>
    </div>
  </form>
{% endblock%}
